fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
psycopg2-binary
python-dotenv
pydantic-settings
email-validator
passlib[bcrypt]
python-jose[cryptography]
httpx
bcrypt
redis
supabase
python-multipart
pgvector
langchain
langchain-text-splitters
langchain-google-genai
pdfplumber
python-docx
python-pptx
openpyxl
requests
bleach
